# 파일 입출력

## 파일처리

ndarrary의 정보를 파일로 저장할 수 있다

일반적인 파일 확장자는 npy를 사용한다

> 파일저장(tofile)

In [14]:
import numpy as np
n = np.random.randn(3,5)
print(n)
n.tofile('n.npy')

[[-0.67728466  1.98078462 -1.10949973 -0.28292628 -1.5973856 ]
 [-0.39616865  0.60174666  0.03551756 -0.60196724  1.01110401]
 [-0.66747633 -0.03901015  0.52100055 -0.63498076  0.2657128 ]]

> 파일 불러오기(fromfile)

In [15]:
m = np.fromfile('C:/STUDY/StudyPython22/jupyter/Numpy/n.npy')
print(m)

[-0.67728466  1.98078462 -1.10949973 -0.28292628 -1.5973856  -0.39616865
  0.60174666  0.03551756 -0.60196724  1.01110401 -0.66747633 -0.03901015
  0.52100055 -0.63498076  0.2657128 ]

> 파일저장, 불러오기 (np.save, np.load)

In [16]:
np.save('n1.npy',n)
m1 = np.load('n1.npy')
print(m1)

[[-0.67728466  1.98078462 -1.10949973 -0.28292628 -1.5973856 ]
 [-0.39616865  0.60174666  0.03551756 -0.60196724  1.01110401]
 [-0.66747633 -0.03901015  0.52100055 -0.63498076  0.2657128 ]]

In [10]:
# n.tofile 저장한 n.npy 
# np.load('n.npy') 오류 
np.load('n.npy')

ValueError: Cannot load file containing pickled data when allow_pickle=False

> txt 파일 저장 np.savetxt('n.txt'.n)

In [18]:
np.savetxt('n.txt',n)

> txt 파일 불러오기 np.loadtxt

In [19]:
np.loadtxt('n.txt')

array([[-0.67728466,  1.98078462, -1.10949973, -0.28292628, -1.5973856 ],
       [-0.39616865,  0.60174666,  0.03551756, -0.60196724,  1.01110401],
       [-0.66747633, -0.03901015,  0.52100055, -0.63498076,  0.2657128 ]])

> csv 파일 저장, 불러오기

In [20]:
np.savetxt('n.csv',n)

> csv 파일 불러오기

In [21]:
np.loadtxt('n.csv')

array([[-0.67728466,  1.98078462, -1.10949973, -0.28292628, -1.5973856 ],
       [-0.39616865,  0.60174666,  0.03551756, -0.60196724,  1.01110401],
       [-0.66747633, -0.03901015,  0.52100055, -0.63498076,  0.2657128 ]])

In [25]:
# ,를 구분자로 n.csv로 저장
np.savetxt('n.csv',n,delimiter = ',')

In [24]:
# 기본 구분자가 스페이스라서 바로 불러올수없다 
np.loadtxt('n.csv')

ValueError: could not convert string to float: '-6.772846605943044773e-01,1.980784622807590045e+00,-1.109499725790073832e+00,-2.829262849915861744e-01,-1.597385598936488682e+00'

In [31]:
# ,를 구분자로 n.csv 저장했기 때문에 파일을 불러올때도 , 를 구분자로 해줘야 불러올수있다
np.loadtxt('n.csv',delimiter = ',',dtype=str) # dtype 을 str 해서 문자열로 불러오기

array([['-6.772846605943044773e-01', '1.980784622807590045e+00',
        '-1.109499725790073832e+00', '-2.829262849915861744e-01',
        '-1.597385598936488682e+00'],
       ['-3.961686526071622194e-01', '6.017466618666894584e-01',
        '3.551756353253721077e-02', '-6.019672362699827195e-01',
        '1.011104011689461402e+00'],
       ['-6.674763304717067358e-01', '-3.901015435091257505e-02',
        '5.210005472716490171e-01', '-6.349807578248173323e-01',
        '2.657127978163794646e-01']], dtype='<U25')

- 문제1

In [46]:
arr_test1 = np.arange(1,26).reshape(5,5)
np.savetxt('data.csv',arr_test1,delimiter=',')

In [47]:
np.loadtxt('data.csv',delimiter=',', dtype=np.int8)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]], dtype=int8)

In [59]:
# 1 다른풀이 
np.savetxt('data1.csv',np.arange(1,26,dtype=np.int8).reshape(5,5),delimiter=',')
np.loadtxt('data1.csv',delimiter=',', dtype=int)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

- 문제2

In [51]:
arr1=np.loadtxt('C:/STUDY/StudyNumpy/data/06_data1.txt', dtype=str)
arr1

array([['1', '15', '14', '4'],
       ['12', '6', '7', '9'],
       ['8', '10', '11', '5'],
       ['13', '3', '2', '16']], dtype='<U2')

In [53]:
# 2 다른풀이 
np.loadtxt('C:/STUDY/StudyNumpy/data/06_data1.txt',delimiter='\t', dtype = np.str_) # np.str_:numpy에서 제공

array([['1', '15', '14', '4'],
       ['12', '6', '7', '9'],
       ['8', '10', '11', '5'],
       ['13', '3', '2', '16']], dtype='<U2')

- 문제3

In [55]:
arr2 = np.loadtxt('C:/STUDY/StudyNumpy/data/06_data2.txt',delimiter=',',dtype=int)# np.int8 사용도 가능 
arr2

array([[ 1, 15, 14,  4],
       [12,  6,  7,  9],
       [ 8, 10, 11,  5],
       [13,  3,  2, 16]])

### 예제 1 : 지역별 전기요금 데이터 현황

> 데이터 불러오기

In [61]:
data = np.loadtxt('C:/STUDY/StudyNumpy/data/ex1_지역별전기요금.csv', delimiter=',', dtype=int)
print(data[:5,:]) # 상위 5개데이터 출력

[[      1  565082     273   27177]
 [      2 2827233     444   45111]
 [      3 1144913     289   29043]
 [      4 1131034     230   22436]
 [      5  380425     391   38020]]

> 데이터 확인하기

In [63]:
# 데이터의 모양 확인
print(data.shape)

(17, 4)

In [65]:
# 중복지역 확인
print(np.unique(data[:,0])) # 인덱스 확인

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]

In [66]:
# 1열 데이터 크기순 인덱스 값 정렬( argsort 사용)
print(data[:,1].argsort())

[ 9 14 10  4  6  0 16 13  5 12 11 15  7  3  2  8  1]

In [67]:
# fancy index
print(data[data[:,1].argsort()]) # 첫번째열 기준으로 오름차순 정렬

[[     10   49394     580   57091]
 [     15  258605     221   22180]
 [     11  323151     353   35470]
 [      5  380425     391   38020]
 [      7  425659     344   32331]
 [      1  565082     273   27177]
 [     17  584500     268   26899]
 [     14  634696     285   28556]
 [      6  668623     364   35245]
 [     13  726699     249   25120]
 [     12  734723     398   40049]
 [     16  742285     282   27901]
 [      8  947300     366   36274]
 [      4 1131034     230   22436]
 [      3 1144913     289   29043]
 [      9 2737725     361   36569]
 [      2 2827233     444   45111]]

In [68]:
print(data[data[:,1].argsort()[::-1]]) # 내림차순 정렬

[[      2 2827233     444   45111]
 [      9 2737725     361   36569]
 [      3 1144913     289   29043]
 [      4 1131034     230   22436]
 [      8  947300     366   36274]
 [     16  742285     282   27901]
 [     12  734723     398   40049]
 [     13  726699     249   25120]
 [      6  668623     364   35245]
 [     14  634696     285   28556]
 [     17  584500     268   26899]
 [      1  565082     273   27177]
 [      7  425659     344   32331]
 [      5  380425     391   38020]
 [     11  323151     353   35470]
 [     15  258605     221   22180]
 [     10   49394     580   57091]]

> 데이터 통계

In [71]:
# 전국대상 가구수의 합
print(np.sum(data[:,1]))

14882047

In [76]:
# 가구당 평균 전력 사용량의 전국 평균값
round(np.mean(data[:,2]),2) 
# print(round(data[:,2].mean(),2)) # round 소수점 n 자리까지 표현

335.18

In [75]:
np.mean(data[:,2])

335.1764705882353

In [83]:
# 무식하게 평균 구하기
e_sum=np.sum(data[:,2]) # 합계 구하기
e_sum
n_rows = data.shape[0] # 행의 갯수 
print('가구당 평균 전력 사용량의 전국 평균값 :', round(e_sum/n_rows,2))# 17행으로 합계 나눠주기

가구당 평균 전력 사용량의 전국 평균값 : 335.18

In [87]:
# 가구당 평균 전력 사용량이 평균이상인 지역과 대상 가구수 추출
avg_ = np.mean(data[:,2])
print(data[data[:,2]>avg_,0:2]) # data 2열의 값이 avg_보다 큰행의 0~2열의 값을 출력

[[      2 2827233]
 [      5  380425]
 [      6  668623]
 [      7  425659]
 [      8  947300]
 [      9 2737725]
 [     10   49394]
 [     11  323151]
 [     12  734723]]

### 예제2 : 전년대비 시도별 교통사망사고 데이터 현황

- 문제1. 위 파일을 읽어오고 상위3개의 (발생년도, 발생건수, 구성비)의 데이터 추출하기

In [163]:
data_2 = np.loadtxt('C:/STUDY/StudyNumpy/data/ex2_전년대비_시도별_교통사망사고.csv', delimiter=',', dtype =float)
data_2

array([[ 2.014e+03,  1.000e+00,  2.180e+02,  4.800e+00, -9.000e+00,
        -4.000e+00],
       [ 2.014e+03,  2.000e+00,  8.720e+02,  1.900e+01, -4.500e+01,
        -4.900e+00],
       [ 2.014e+03,  3.000e+00,  4.010e+02,  8.700e+00, -4.500e+01,
        -1.010e+01],
       [ 2.014e+03,  4.000e+00,  4.640e+02,  1.010e+01, -4.100e+01,
        -8.100e+00],
       [ 2.014e+03,  5.000e+00,  9.900e+01,  2.200e+00, -5.000e+00,
        -4.800e+00],
       [ 2.014e+03,  6.000e+00,  1.820e+02,  4.000e+00,  1.900e+01,
         1.170e+01],
       [ 2.014e+03,  7.000e+00,  9.900e+01,  2.200e+00,  8.000e+00,
         8.800e+00],
       [ 2.014e+03,  8.000e+00,  1.630e+02,  3.600e+00, -4.700e+01,
        -2.240e+01],
       [ 2.014e+03,  9.000e+00,  3.860e+02,  8.400e+00,  1.400e+01,
         3.800e+00],
       [ 2.014e+03,  1.000e+01,  2.000e+01,  4.000e-01,  0.000e+00,
         0.000e+00],
       [ 2.014e+03,  1.100e+01,  1.030e+02,  2.200e+00, -1.600e+01,
        -1.340e+01],
       [ 2.014e+03,  1.200e+01,  1.440e+02,  3.100e+00, -6.000e+00,
        -4.000e+00],
       [ 2.014e+03,  1.300e+01,  4.000e+02,  8.700e+00, -3.500e+01,
        -8.000e+00],
       [ 2.014e+03,  1.400e+01,  3.170e+02,  6.900e+00, -3.500e+01,
        -9.900e+00],
       [ 2.014e+03,  1.500e+01,  8.600e+01,  1.900e+00, -1.400e+01,
        -1.400e+01],
       [ 2.014e+03,  1.600e+01,  3.870e+02,  8.400e+00, -5.000e+00,
        -1.300e+00],
       [ 2.014e+03,  1.700e+01,  2.420e+02,  5.300e+00, -3.100e+01,
        -1.140e+01]])

In [175]:
data_2.shape

(17, 6)

In [177]:
np.unique(data_2[:,1])

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17.])

In [164]:
print(data_2[:3,[0,2,3]])

[[2014.   218.     4.8]
 [2014.   872.    19. ]
 [2014.   401.     8.7]]

- 문제2. 위 데이터에서 부산에서 발생한 교통사고 사망 사고 모든 현황을 추출해 봅시다

In [165]:
data_busan=data_2[data_2[:,1]== 8,:]
data_busan

array([[2014. ,    8. ,  163. ,    3.6,  -47. ,  -22.4]])

- 문제3.위 데이터에서 전국 사고 발생건수의 합계와 전국 평균을 계산해봅시다

In [185]:
print('전국 사고 발생건수 합계 : ', np.sum(data_2[:,2]))
print('전국 사고 발생건수 평균 : ', np.mean(data_2[:,2]))

전국 사고 발생건수 합계 :  4583.0
전국 사고 발생건수 평균 :  269.5882352941176

- 문제4. 위 데이터에서 교통사고 증감수가 가장 큰지역의 모든 현황을 추출해 봅시다(argmax 사용)

In [167]:
print(data_2[data_2[:,4].argmax(),:])

[2014.     6.   182.     4.    19.    11.7]

In [188]:
# 다른풀이
print(data_2[data_2[:,4]==max(data_2[:,4])])

[[2014.     6.   182.     4.    19.    11.7]]

- 문제5. 위 데이터에서 교통사고 증감률이 가장 작은 지역의 모든 현황을 추출해 봅시다

In [168]:
print(data_2[data_2[:,4].argmin(),:])

[2014.     8.   163.     3.6  -47.   -22.4]

In [189]:
# 다른풀이
print(data_2[data_2[:,4]==min(data_2[:,4])])

[[2014.     8.   163.     3.6  -47.   -22.4]]

- 문제6. 위데이터에서 사고 발생건수가 400건 이상인 곳의 지역과 교통사고 발생건수, 증감수, 증감률을 추출해 봅시다.

In [169]:
data_3 = data_2[data_2[:,2]>=400,:]
data_3
print(data_3[:,[1,2,4,5]])

#print(data_2[data_2[:,2]>=400,[1,2,4,5]]) <- 실행 오류

[[  2.  872.  -45.   -4.9]
 [  3.  401.  -45.  -10.1]
 [  4.  464.  -41.   -8.1]
 [ 13.  400.  -35.   -8. ]]

In [191]:
#다른풀이
print(data_2[data_2[:,2]>=400][:,[1,2,4,5]])

[[  2.  872.  -45.   -4.9]
 [  3.  401.  -45.  -10.1]
 [  4.  464.  -41.   -8.1]
 [ 13.  400.  -35.   -8. ]]